<p>include.author: {{ include.author }}</p>
<p>include.postauthor: {{ include.postauthor }}</p>

{% assign p_short = page.short_name %}
{% assign p_name = page.name | downcase %}
{%- capture p_title -%} {{ page.title | downcase | replace: '_', ' ' }} {%- endcapture -%}
{% comment %}
<p>p_title: {{ p_title }}</p>
<p>p_name: {{ p_name }}</p>
{% endcomment %}

<div class="entries">
  <ul class="entry-list">
{% for post in site.posts %}
  {{ post.author }}
  {%- if post.author contains p_name or p_name contains post.author or post.author contains p_short or p_short contains post.author -%}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {%- endif -%}
  {%- endfor -%}
  </ul>
</div>

{% capture a_name %} {{ author.name | downcase }} {% endcapture %}
  <p>a_name: {{ a_name }}</p>
  {%- if p_title contains a_name or a_name contains p_title -%}
    {% assign filtered_posts = site.posts | where: 'author', p_name %}
    {% for post in filtered_posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}

    {% assign filtered_posts = site.posts | where: 'author', p_short %}
    {% for post in filtered_posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}

  {% endif %}
  </ul>
</div>

