{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
{%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#">Personal Genome Project: Global Network</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse pull-right">
      <ul class="nav navbar-nav">
      {% if site.data.navigation.header[0] %}
        {% for item in site.data.navigation.header %}
          {% if item.type contains "dropdown" %}
            <li class="dropdown">
              <a href="{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{ item.title }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  {% if item.subfolderitems[0] %}
                  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                  {% endif %}
                </ul>

              <!-- <a href="{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.title }}</a> -->
            </li>
          {% else %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}
      {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
