{% if include.pageurl != nil and include.pageurl != '' %}
    {% assign pageurl = include.pageurl %}
{% else %}
    {% assign pageurl = page.url %}
{% endif %}

<div id="jp-post-flair" class="sharedaddy sd-like-enabled sd-sharing-enabled">
  <div class="sharedaddy sd-sharing-enabled">
    <div class="robots-nocontent sd-block sd-social sd-social-icon-text sd-sharing">
      <h3 class="sd-title">Share this:</h3>
      <div class="sd-content">
        <ul>
          <li class="share-email share-service-visible"><a rel="nofollow noopener noreferrer" data-shared="" class="share-email sd-button share-icon" href="{{ page.url }}/?share=email&amp;nb=1" target="_blank" title="Click to email this to a friend"><span><i class="fad fa-envelope"></i>Email</span></a></li>
          <li class="share-facebook"><a rel="nofollow noopener noreferrer" data-shared="sharing-facebook-1698" class="share-facebook sd-button share-icon" href="http://www.facebook.com/share.php?u={{ pageurl | prepend: site.baseurl }}" target="_blank" title="Click to share on Facebook"><i class="fab fa-facebook-square"></i><span>Facebook</span></a></li>
          <li class="share-reddit"><a rel="nofollow noopener noreferrer" data-shared="" class="share-reddit sd-button share-icon" href="http://www.reddit.com/submit?url={{ page.url | prepend: site.baseurl }}" target="_blank" title="Click to share on Reddit"><i class="fab fa-reddit-alien"></i><span>Reddit</span></a></li>
          <li class="share-twitter"><a rel="nofollow noopener noreferrer" data-shared="sharing-twitter-1698" class="share-twitter sd-button share-icon" href="http://twitter.com/home?status={{ site.url | prepend: site.baseurl}}" target="_blank" title="Click to share on Twitter"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
          <li class="share-pinterest"><a rel="nofollow noopener noreferrer" data-shared="sharing-pinterest-1698" class="share-pinterest sd-button share-icon" href="https://pinterest.com/pin/create/button/?url=&media={{ site.url }}{{ page.image }}&description=" target="_blank" title="Click to share on Pinterest"><i class="fab fa-pinterest-p"></i><span>Pinterest</span></a></li>
          <li class="share-end"></li>
        </ul>
      </div>
    </div>
  </div>
