.body-archive .sidebar {
  padding: 10px 0 20px;
}

.body-archive a:link,
.body-archive a:hover,
.body-archive a:active {
  font-weight: 400;
}

img.archive-comment {
  display: none;
  float: right;
  margin: 0 0.05em 0.05em 0;
}

h1.archive-title,
h2.archive-title {
  // border-bottom: 4px double $white-1;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 28.6px;
  // margin: 0 0 20px;
  margin: 20px 0;
  padding: 0 0 7px;
}

.entries {
  clear: both;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 13px;
  line-height: 22px;

  ul {
    background: transparent url('/assets/images/archives-dotted-line.gif') repeat-x top left;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
    line-height: 22px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0 0 1px;

    li {
      background: transparent url('/assets/images/archives-dotted-line.gif') repeat-x top left;
      font-size: 13px;
      line-height: 22px;
      margin: 0;
      padding: 1px 0 0;

      a {
        display: block;
        font-size: 13px;
        margin: 0;
        line-height: 22px;
        padding: 7px 0;
      }
    }
  }

  span {
    display: block;
    text-align: right;

    &.comments_number {
      display: none;
      color: #666;
      float: right;
      margin-right: 6.5px;
      width: 130px;
    }
  }

  span.archdate,
  a:hover span.archdate {
    color: #666;
    float: left;
    height: 28px;
    margin: 0 39px 0 0;
    padding: 0 0 0 6.5px;
    text-align: left;
    width: 130px;
  }
}


.entries time.archdate,
.entries a:hover time.archdate {
  color: #666;
  float: left;
  height: 28px;
  margin: 0 39px 0 0;
  padding: 0 0 0 6.5px;
  text-align: left;
  width: 130px;
}

