.body-blog ul {
  margin: 0;
  padding: 0;
}

.body-blog li {
  margin: 0;
}

.body-blog main {
  color: #333;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.body-blog .page-title {
  margin: 70px -15px 0;
}

.blog-main {
  margin: 0 -15px;
  width: 920px;
}

.blog-content {
  box-sizing: content-box;
  float: left;
  // padding: 20px 20px 20px 0;
  padding: 0 20px 20px 0;
  width: 600px;
}

.blog-content a:link,
.blog-content a:hover,
.blog-content a:active {
  color: #772124;
}

.post-header {
  border-bottom: 4px double #eee;
  padding: 0 0 7px;
}

.post-header h2 {
  margin: 20px 0 0;
}

.post-header h2 a {
  color: #333;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 28.6px;
}

.post-header .date {
  padding-top: 10px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  font-family: "Trebuchet MS","Lucida Grande","Lucida Sans",Verdana,Arial,sans-serif;
  line-height: 22px;
  text-transform: uppercase;
  }

