/**
 * Categories
 */

.body-category .blog-content {
  .categories-title {
    margin: 20px 0 10px;
  }
  .entries {
   display: block;
   /*   width: 90%; */

   ul li {
    /*   margin: 0 2px; */
    width: 100%;

    a {
       font-size: 14px;
       width: 80%;
      }
   }
  }
}

@media only screen and (min-width: 576px) {
  .body-category .blog-content {
    .entries ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      /*     justify-content: center; */
      padding: 0 0 0 20px;

      li {
        background: transparent url('#{$baseurl}/assets/images/archives-dotted-line.gif') repeat-x bottom left;
        width: 40%;
        margin: 0;
        background: none;

        &:last-of-type {
          width: initial;
          margin-right: auto;
          margin-left: 0;
        }

        a {
          width: 50%;
          width: initial;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .body-category .blog-content {
    .entries {
      width: 100%;
    }
    .entries ul {
      padding: 0 0 0 10px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .body-category .blog-content {
     .entries {
       width: 100%;

      ul {
        padding: 0 0 0 10px;
        /*     justify-content: space-around; */

        li {
          width: 50%;
          margin: 0 0 0;
          padding: 0 0 0 10px;
          /*     padding: 0; */

          &:last-of-type {
            width: 30%;
            margin: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .body-category .blog-content {
    .entries {
      width: 100%;

      ul {
        display: block;
        padding: 0;

        li {
          background: transparent url('#{$baseurl}/assets/images/archives-dotted-line.gif') repeat-x bottom left;
          margin: 0 0 0;
          width: 100%;

          &:last-of-type {
            margin: initial;
            width: initial;
          }

          a {
            width: 60%;
          }
        }
      }
    }
  }
}
