.contact-form {
  /* border-left: 1px solid #666; */
  border-radius: 5px;
  border-top: 5px solid $green;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  margin: 20px 0 0;
  padding: 0 16px 20px;
  width: 70%;
}

.contact-form h2 {
  padding: 0 12px;
}

.required-text {
  color: #d93025;
  font-size: 13px;
  margin: 22px 0 10px 12px;
}

.contact-form fieldset,
.contact-form .submit-row {
  padding: 0 16px;
}

.contact-form label {
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  margin: 15px 0 14px;
}

.contact-form input {
  border: 0;
  border-bottom: 2px inset $white-1;
  display: block;
}

.contact-form .submit {
  -webkit-border-radius: 3px;
  background: #1a73e8;
  border: 0;
  border-radius: 3px;
  color: $white;
  display: block;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-weight: 500;
  height: 35px;
  line-height: 20px;
  margin: 30px 0;
  min-width: 88px;
  text-transform: uppercase;
  transition: background .2s .1s;
  width: 88px;
}

.contact-form input.submit {
  font-size: 14px;
}

.contact-form input[type="text"] ,
.contact-form input[type="email"] {
  width: 282px;
}

// .contact-form input[type="text"]:invalid ,
// .contact-form input[type="email"]:invalid {
//   background: red;
// }

// We could just use box-shadow and not bother with the border,
// and frankly that would look nicer, but then we’d have
// no indication in browsers that don’t support box-shadows,
// such as IE8.
.contact-form input[aria-invalid="true"],
.contact-form textarea[aria-invalid="true"] {
  border: 1px solid #f00;
  box-shadow: 0 0 4px 0 #f00;
}

.contact-form input[type="text"]:focus ,
.contact-form input[type="email"]:focus {
  border-bottom: 1px solid $green;
  outline: none;
  // width: 282px;
}

.contact-form input:focus {
  border-bottom: 1px solid $green;
  outline: none;
  // width: 282px;
}

.contact-form input:required:focus {
/*   background: blue; */
  // color: $green;
}

.contact-form input[type="email"]:required:focus {
  // border:2px solid tomato;
  color: red;
}

.g-recaptcha {
  margin: 20px 0 0;
}
