// Styles for Google Form on Contact Page

body {
  background-color: #fff !important;
}

.freebirdFormviewerViewFormContentWrapper {
  margin: 60px 0 0;
}

.freebirdFormviewerViewFormContentWrapper .freebirdFormviewerViewCenteredContent{
  // margin: 20px auto;
  max-width: 90vw;
}

.freebirdFormviewerViewNavigationPasswordWarning,
.freebirdFormviewerViewFooterEmbeddedBackground {
  display: none;
}

.quantumWizTextinputPaperinputEl.freebirdFormviewerViewItemsTextShortText.freebirdThemedInput.modeLight,
.quantumWizTextinputPaperinputEl.freebirdFormviewerViewItemsTextShortText.freebirdFormviewerViewItemsTextEmail.freebirdThemedInput.modeLight,
.quantumWizTextinputPapertextareaEl.modeLight.freebirdFormviewerViewItemsTextLongText.freebirdThemedInput {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .freebirdFormviewerViewFormContentWrapper {
    margin: 110px 0 0;
  }
  .freebirdFormviewerViewFormContentWrapper .freebirdFormviewerViewCenteredContent{
    // margin: auto;
    max-width: 90vw;
/*     width: 90vw; */
  }

  .quantumWizTextinputPaperinputEl.freebirdFormviewerViewItemsTextShortText.freebirdThemedInput.modeLight,
  .quantumWizTextinputPaperinputEl.freebirdFormviewerViewItemsTextShortText.freebirdFormviewerViewItemsTextEmail.freebirdThemedInput.modeLight,
  .quantumWizTextinputPapertextareaEl.modeLight.freebirdFormviewerViewItemsTextLongText.freebirdThemedInput {
    width: 70%;
  }

  .quantumWizTextinputPapertextareaEl.modeLight.freebirdFormviewerViewItemsTextLongText.freebirdThemedInput {
    width: 90%;
  }
}

@media only screen and (min-width: 920px) {
  .freebirdFormviewerViewFormContentWrapper .freebirdFormviewerViewCenteredContent{
    margin: 20px 0 20px 2px;
    max-width: 840px;
    width: 84vw;
  }

  .quantumWizTextinputPapertextareaEl.modeLight.freebirdFormviewerViewItemsTextLongText.freebirdThemedInput {
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  .freebirdFormviewerViewFormContentWrapper .freebirdFormviewerViewCenteredContent{
    margin: 20px 0 20px 2px;
    max-width: 840px;
    width: 80vw;
  }
}

@media only screen and (min-width: 1200px) {
  .quantumWizTextinputPapertextareaEl.modeLight.freebirdFormviewerViewItemsTextLongText.freebirdThemedInput {
/*     width: 100%; */
  }
}
