.local-projects-wrap {
  margin: 0;
}

.local-projects-header {
  color: #0080e0;
  font: 400 16px/1.42857143 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: small-caps;
  margin: 0;
}

.logo {
  margin-top: 20px;
  max-width: 80%;
}
