/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  .body-blog .page-title {
    margin: 70px auto 0;
    padding: 0 20px;
    width: 90%;
  }

  .blog-main-container {
    display: block;
    margin: 0 auto;
  }

  main.blog-content {
    /* margin: 0 auto; */
    padding: 0 20px;
  }

  .sidebar {
    float: none;
  }
}

@media only screen and (min-width: 920px) and (max-width: 991px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 30px;
  }

  .site-header {
    background-color: $header--background-color;
  }

  .nav > li > a {
    padding: 10px 20px 10px 15px;
  }

  .navbar-default {
    background-color: $header--background-color;
  }

  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse {
    max-height: initial;
  }

  .navbar-nav {
    margin: 0 0 7.5px;
    // min-width: 140px;
  }

  .navbar-default .navbar-nav > li {
    > .dropdown-menu {
      background-color: $nav--background-color;
      border: 0;
      box-shadow: none;
      min-width: 160px;
      position: static;

      a {
        color: $grey-dark-3;
        padding: 5px 15px 5px 25px;
      }
    }
  }

  .show {
    background-color: $header--background-color;
  }

  .navbar-collapse.show {
    margin: 0 -30px;
    padding: 0;
  }

  .site-header {
    border-top: 5px solid $header--background-color;
  }

  .navbar {
    box-shadow: none;
  }

  .nav .dropdown-toggle {
    padding: 17.5px 20px 10px 15px;
  }

  .caret {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px dashed;
    margin-left: 6px;
    margin-top: -1px;
  }

}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .blog-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  main.blog-content {
    float: none;
    padding: 0 20px;
    width: 56%;
  }

  .sidebar {
    float: none;
    margin: 0 auto;
    padding: 0 20px 20px 0;
    width: 39%;
  }
}
/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .blog-title-wrap {
    border-bottom: 5px solid #333;
  }
  .blog-main-container {
    width: 920px;
  }

  main.blog-content {
    box-sizing: content-box;
    float: left;
    margin: 0;
    padding: 20px 20px 20px 0;
    width: 600px;
    }

  .sidebar {
    box-sizing: content-box;
    float: right;
    padding: 0 0 20px;
    width: 300px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Code here */
}
