.nav li,
li:last-child {
  margin-bottom: 0;
}

.navbar{
  box-shadow: 1px 1px 3px $primary;
  background-color: $blue-light;
  border-bottom: 1px solid $blue-2;
  box-sizing: content-box;
  opacity: 1;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 20px;
  }
}

.nav-link {
  color: $info !important;

  &:hover {
    color: $primary !important;
  }
}

.navbar-default {
  background-image: none;
  // border-color: #0080e0;
  background-color: $nav--background-color;

  .navbar-brand {
    color: $nav--text-color;
  }

  .navbar-nav > li  {

    > a {
      color: $nav--text-color;

      &:focus,
      &:hover {
        color: $nav--text-color;
      }
    }

    > .dropdown-menu {
      border-radius: 4px;
    }
  }

  .navbar-toggle {
    border-color: $nav--border-color;
  }

  .navbar-nav > .show > a,
  .navbar-nav > .show > a:focus,
  .navbar-nav > .show > a:hover {
    background-color: $nav--border-color;
    background-image: linear-gradient(to bottom, $blue-light-2 0, $blue-light 100%);
    color: $nav--text-color;
  }
}

