.nav {
  li,
  li:last-child {
    margin-bottom: 0;
    padding: 10px 20px 10px 15px;
  }

  .dropdown-toggle {
      padding: 17.5px 20px 10px 15px;
    }
}

.navbar,
.navbar-header * {
  max-width: 100%;
}

.navbar{
  background-color: $blue-light;
  border-bottom: 1px solid $blue-2;
  box-shadow: 1px 1px 3px $primary;
  box-shadow: none;
  box-sizing: content-box;
  opacity: 1;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 20px;
  }
}

.nav-link {
  color: $info !important;

  &:hover {
    color: $primary !important;
  }
}

.caret {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px dashed;
  margin-left: 6px;
  margin-top: -1px;
}

.navbar-default {
  background-color: $nav--background-color;
  background-image: none;
  height: 65px;
  max-width: none;

  .navbar-brand {
    color: #0066b3;
    color: $nav--text-color;
    font-size: 16px;
    height: 65px;
    padding: 15px;
    width: 80%;
  }

  .navbar-nav {
    margin: 0 0 7.5px;

    > li {
      > a {
        color: $nav--text-color;

        &:focus,
        &:hover {
          color: $nav--text-color;
        }
      }

      > .dropdown-menu {
        background-color: $nav--background-color;
        border: 0;
        border-radius: 4px;
        box-shadow: none;
        min-width: 160px;
        position: static;

        a {
          color: $grey-dark-3;
          padding: 5px 15px 5px 25px;
        }

      }
    }
  }

  .navbar-toggle {
    border-color: $nav--border-color;
  }

  .navbar-nav > .show > a,
  .navbar-nav > .show > a:focus,
  .navbar-nav > .show > a:hover {
    background-color: $white;
    background-image: linear-gradient(to bottom, $blue-light-2 0, $blue-light 100%);
    color: $nav--text-color;
  }

  .navbar-nav > .show > a:first-of-type {
    padding: 17.5px 20px 10px 15px;
  }

}

.site-header {
  background-color: $blue-light;
  border-top: 5px solid $header--background-color;
  // height: 68px;
  height: 65px;
  max-width: none;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  font-size: $nav-font-size;
  max-height: initial;
}

.show {
  // background-color: $white;
  background-color: $header--background-color;
}

.navbar-collapse.show {
  margin: 0 -30px;
  padding: 0;
}

@media only screen and (min-width: 425px) {
  .navbar-default,
  .navbar-default .navbar-brand,
  .site-header {
    height: 51px;
  }
}

@media only screen and (min-width: 768px) {
  .nav {
    li,
    li:last-child {
      // padding: 10px 20px 10px 15px;
      padding: 0;
    }

    .dropdown-toggle {
      padding: 15px;
    }
  }

  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    font-size: 18px;
    width: 390px;
  }

  .navbar-default .navbar-nav > li > .dropdown-menu {
    -webkit-background-clip: padding-box;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background: $white;
    background-clip: padding-box;
    background-color: $white;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    margin: 2px 0 0;
    position: absolute;

    a {
      color: $grey-dark-1;
    }
  }

  .show .dropdown-header {
    padding: 3px 25px;
  }
}
