/**
 * Share buttons
 */

.sharedaddy .fa,
.sharedaddy .fab,
.sharedaddy .fad,
.sharedaddy .fal,
.sharedaddy .far,
.sharedaddy .fas {
  margin: 0 5px 5px 0;
}

div.sharedaddy,
#content div.sharedaddy,
#main div.sharedaddy {
  clear: both;
}

#jp-post-flair {
  padding-top: .5em;
}

div.sharedaddy h3.sd-title {
  display: inline-block;
  font-size: 9pt;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1em;
}

.sd-content ul {
  list-style: none !important;
  margin: 0 0 .7em !important;
  padding: 0 !important;
}

.sd-content ul li {
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 0;
}

.sd-content ul>li {
  background: 0 0;
}

.entry ul li,
.c-body ul li {
  background: url('/assets/images/list-star.gif') no-repeat 0 .3em;
  display: block;
  margin: 5px 0 0;
  padding: 0 0 0 17px;
}

.sd-social-icon .sd-content ul li a.sd-button,
.sd-social-text .sd-content ul li a.sd-button,
.sd-content ul li a.sd-button,
.sd-content ul li .option a.share-ustom,
.sd-content ul li.preview-item div.option.option-smart-off a,
.sd-content ul li.advanced a.share-more,
.sd-social-icon-text .sd-content ul li a.sd-button,
.sd-social-official .sd-content>ul>li>a.sd-button,
#sharing_email .sharing_send,
.sd-social-official .sd-content>ul>li .digg_button>a {
  background: #f8f8f8;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0,0,0,.08);
  color: #545454 !important;
  display: inline-block;
  font-family: "Open Sans",sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  padding: 1px 8px 0 5px;
  text-decoration: none !important;
  text-shadow: none;
}

 .sd-social-text .sd-content ul li a.sd-button span,
 .sd-content ul li a.sd-button>span,
 .sd-content ul li .option a.share-ustom span,
 .sd-content ul li.preview-item div.option.option-smart-off a span,
 .sd-content ul li.advanced a.share-more span,
 .sd-social-icon-text .sd-content ul li a.sd-button>span,
 .sd-social-official .sd-content>ul>li>a.sd-button span,
 .sd-social-official .sd-content>ul>li .digg_button>a span {
   line-height: 23px;
 }

 .sd-social-icon-text .sd-content ul li a span,
 .sd-social-official .sd-content ul li a.sd-button span,
 .sd-content ul li.preview-item a.sd-button span {
   margin-left: 3px;
 }

 .sd-social-icon-text ul li a.sd-button:before {
   position: relative;
   top: 2px;
 }

 .sd-content ul li a.sd-button:before {
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   display: inline-block;
   font: normal 18px/1 'social-logos';
   text-align: center;
   vertical-align: top;
 }

.sd-social-icon-text ul li a.sd-button:before {
  position: relative;
  top: 2px;
 }

.sd-content ul li a.sd-button:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal 18px/1 'social-logos';
  text-align: center;
  vertical-align: top;
  }

.sd-content ul li {
  margin: 0 5px 5px 0;
  padding: 0;
}

.sd-content ul li {
  display: inline-block;
}

.sd-content ul>li {
  background: 0 0;
}

.entry ul li,
.c-body ul li {
  background: url('/assets/images/list-star.gif') no-repeat 0 .3em;
  display: block;
  margin: 5px 0 0;
  padding: 0 0 0 17px;
}


/**
 * Post Categories
 */

.post-footer {
  border-bottom: 1px solid $white-1;
  margin: 10px 0 30px;
  overflow: hidden;
  padding-bottom: 2px;
  width: 100%;

  a {
    font-weight: 400;
  }
}

.post-footer-blog-feed {
  margin: 20px 0 30px;
}

.blog-main-container .post-footer a {
  color: $grey-dark-1;

  & a:hover {
    color: $maroon;
    font-weight: 400;
  }

}

.categories {
  color: $grey-dark-6;
  // float: right;
  float: none;
  font-size: 12px;
  font-style: italic;
  line-height: 22px;
  // text-align: right;
  text-align: left;
  // width: 400px;
  width: auto;
}


/**
 * Posts Navigation
 */

.post-navigation {
  font-size: 13px;
  padding: 10px 0;

  a:first-of-type {
    float: left;
  }

  a:last-of-type {
    float: right;
  }
}

.blog-main-container .post-navigation {
  a,
  a:hover {
    font-weight: 400;
  }
}

.post-navigation.single {
  .clear::after,
  li.comment::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
}

@media only screen and (min-width: 576px) {
  .categories {
    float: right;
    text-align: right;
    width: 400px;
  }
}
