.privacy h2,
.tos h2 {
  font-size: 28px;
}

.privacy h3,
.tos h3 {
  margin: 30px 0 10px;
}

.privacy,
.tos {
  padding: 19px 10px;
}

.last-updated {
  margin: 12px 0;
}

@media only screen and (min-width: 375px) {
  .privacy h2,
  .tos h2 {
    font-size: 30px;
  }
}
