.sidebar,
.body-archive .sidebar {
  display: block;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0 20px 20px;
  width: 90%;

  li {
    font-size: 14px;
    line-height: 22px;
    list-style: none;
    margin: 0;
  }

  :link,
  :visited {
    text-decoration: none;
  }

  a:link,
  a:visited {
    color: $blog--link-color;
  }
}

.widget {
  font-family: Georgia, "Times New Roman", Times, serif;

  ul li {
    border-bottom: 1px solid $widget--border-color;
    font-size: 14px;
    margin: 0;
    padding: 6px 0;
  }
}

h2.widget-title {
  border-bottom: 1px solid $widget--border-color;
  font-family: "Trebuchet MS","Lucida Grande","Lucida Sans",Verdana,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.05pt;
  line-height: 22px;
  margin: 0;
  padding: 25px 0 3px;
  text-transform: uppercase;
}

.widget_author_grid ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  width: 300px;

  li {
    background: 0 0;
    border: 0;
    box-sizing: content-box;
    clear: none;
    float: left;
    height: 48px;
    list-style: none;
    // margin: 0 3px 3px 0;
    margin: 0 -5px -3px 0;
    padding: 0 8px 6px 0;
    width: 48px;

    a {
      background: 0 0;
      border: 0;
      margin: 0;
      padding: 0;
    }
  }
}

// Search Bar
.search_form input,
.search-form input {
  background: $grey-mid;
  border: 2px solid $input--border-color;
  border-bottom: 1px solid $input--border-color-2;
  border-right: 1px solid $input--border-color-2;
  color: $input--text-color;
  font-size: 13px;
  line-height: normal;
  margin: 10px 0 0;
  padding: 4px 2px;
  width: 132px;
}

form.search_form,
form.search-form {
  line-height: 22px;
  font-size: 10px;
}

// Text Widget
.textwidget {
  font-size: 13px;
  padding: 6px 0 0;
}

// Recent Posts
.widget_recent_entries ul,
.widget_archive ul {
  margin: 0;
  padding: 0;

  li a {
    background: url('images/list-item.gif') no-repeat 0 6px;
    display: block;
    padding: 0 0 0 15px;
  }
}

.entry,
.widget {
  word-wrap: break-word;
}

.spad {
  // padding-right: 20px;
}

.tpad {
  padding-top: 20px;
}

.thin-sidebar {
  box-sizing: content-box;
  float: left;
  width: 140px;
}

.sidebar-left {
  float: left;
  padding: 0;
}

.sidebar-right {
  float: right;
}

.flickr-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flickr-images {
  text-align: center;

  img {
    margin: 5px;
    max-width: 100%;
  }
}

.flickr-size-thumbnail .flickr-images {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flickr-more {
  font-size: 13px;
  line-height: 22px;
}
