---
layout: blog
title: Archive
class: archive
---

{% if page.type == "year" %}
  <h1 class="archive-title">Archive for {{ page.date | date: "%Y" }}</h1>
{% elsif page.type == "month" %}
  <h1 class="archive-title">Archive for {{ page.date | date: "%B %Y" }}</h1>
{% elsif page.type == "day" %}
  <h1 class="archive-title">Archive for {{ page.date | date: '%B %d, %Y' }}</h1>
{% elsif page.type == "tag" %}
  <h1 class="archive-title">Posts tagged '{{ page.title }}'</h1>
{% elsif page.type == "category" %}
  <h1 class="archive-title">Posts from the '{{ page.categories }} Category'</h1>
{% else %}
  <h1 class="archive-title">Archive for {{ page.date }}</h1>
{% endif %}

<!-- <img class="archive-comment" src="{{ "/assets/images/comments-bubble-archive.gif" | relative_url }}" width="17" height="14" alt="comment" scale="0"> -->
<div class="entries">
  <ul class="entry-list">
    {% for post in page.posts %}
    <li>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <!-- <span class="comments_number">0</span> -->
        <time class="archdate">{{ post.date | date: "%b %-d, %Y" }}</time>
        {{ post.title | escape}}
      </a>
    </li>
    {% endfor %}
  </ul>
</div><!--end entry-list-->

<div class="navigation">
  <div class="alignleft"></div>
  <div class="alignright"></div>
</div><!--end navigation-->
