<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

{% if page.title == "Blog" or page.title == "blog" %}
  <body class="body-blog">
{% elsif page.post or page.id %}
  <body class="body-post">
{% elsif page.type == "year" or page.type == "month" or page.type == "day" or page.type == "category" or page.type == "tag" %}
  <body class="body-archive">
{% else %}
  <body class="body-blog">
{% endif %}

  <header class="site-header">
    {%- include nav.html -%}
  </header>
  <div class="wrapper">

      {% if page.title == "Blog" or page.title == "blog" %}
        <h1 class="page-title">{{ page.title }}</h1>
      {% endif %}

      <div class="blog-main row">

        <main class="blog-content" aria-label="Content">
            {{ content }}
          </main>

          <aside class="sidebar">
            {%- include sidebar.html -%}
          </aside>
        </div>

      </div>

  {%- include footer.html -%}

</body>

</html>
