---
layout: blog
permalink: /categories/
title: Categories
class: archive
---

<h1 class="categories-title">Categories</h1>
<img class="archive-comment" src="{{ "/assets/images/comments-bubble-archive.gif" | relative_url }}" width="17" height="14" alt="comment" scale="0">

<div class="entries">
  <ul class="entry-list">
    {% assign categories_list = site.categories %}
      {% if categories_list.first[0] == null %}
        {% for category in categories_list %}
          {% unless category contains "admin" or category[0] contains "admin" %}
          <li><a class="category-link" href="{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }} ({{ site.tags[category].size }})
            <!-- <span class="comments_number">0</span> -->
          </a></li>
          {% endunless %}
        {% endfor %}
      {% else %}
        {% for category in categories_list %}
          {% unless category contains "admin" or category[0] contains "admin" %}
          <li><a class="category-link" href="{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | camelcase }} ({{ category[1].size }})
            <!-- <span class="comments_number">0</span> -->
          </a></li>
          {% endunless %}
        {% endfor %}
      {% endif %}
    {% assign categories_list = nil %}  </ul>
</div><!--end entry-list-->

<div class="navigation">
  <div class="alignleft"></div>
  <div class="alignright"></div>
</div><!--end navigation-->
