<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include_cached head.html title=page.title -%}

  <body>
  <header class="site-header">
    {%- include_cached nav.html -%}
  </header>
    <main class="page-content {{ page.class }}" aria-label="Content">
      <div class="wrapper">
        <div class="container">
          <div class="row lead-row {{ page.row_class }}">
            <div class="{{ page.bootstrap | default: "col-xs-12 col-md-12 col-lg-12 lead-div" }}">
            {{ content }}
            </div>
          </div>
        </div>
      </div>
    </main>

    {%- include_cached footer.html -%}

  </body>

</html>
