---
layout: blog
title: Archive
class: archive
---

<h1 class="archive-title">Archive for {{ page.date | date: "%Y" }}</h1>
<img class="archive-comment" src="{{ "/assets/images/comments-bubble-archive.gif" | relative_url }}" width="17" height="14" alt="comment" scale="0">
<div class="entries">
  <ul class="entry-list">
    {%- for post in site.posts -%}
      {%- capture postmonth -%} {{ post.date | date: '%m%Y' }} {%- endcapture -%}
      {%- capture pagemonth -%} {{ page.month }}{{ page.year }} {%- endcapture -%}
      {%- comment -%}
      <p>Page month: {{ pagemonth }}</p>
      <p>Post month: {{ postmonth }}</p>
      {%- endcomment -%}
      {%- if postmonth contains pagemonth -%}
    <li>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <span class="comments_number">0</span>
        <span class="archdate">{{ post.date | date: "%b %-d, %Y" }}</span>
        {{ post.title | escape}}
      </a>
    </li>
    {%- endif -%}
    {%- endfor -%}
    <li class="post">
        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
        <p class="tags">
            {%- for tag in post.tags -%}
            <a href="{{ tag | downcase | replace: ' ', '-' | prepend:'/tags/' | prepend: site.baseurl }}">{{ tag }}</a>
            {%- endfor -%}
        </p>
    </li>
  </ul>
</div><!--end entry-list-->

<div class="navigation">
  <div class="alignleft"></div>
  <div class="alignright"></div>
</div><!--end navigation-->
