---
layout: blog
title: Archive
class: archive
---

<h1 class="archive-title">Archive for {{ page.year }}</h1>
<div class="entries">
  <ul class="entry-list">
    {%- for post in site.posts -%}
      {%- capture postyear -%} {{ post.date | date: '%Y' }} {%- endcapture -%}
      {%- capture pageyear -%} {{ page.year }} {%- endcapture -%}

      {%- if postyear == pageyear -%}
    <li>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
<!--         <span class="comments_number">0</span> -->
        <time class="archdate">{{ post.date | date: "%b %-d, %Y" }}</time>
        <span>{{ post.title | escape}}</span>
      </a>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul> <!--end entry-list-->
</div>
<div class="dotted-border-img"></div>
