body {
  font-size: 16px;
  padding: 0 0 50px;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #0080e0;
}

.btn-default {
  border-color: #0080e0;
  color: #0080e0;
}

.btn-default:hover {
  background-color: #e8f5ff;
  border-color: #0080e0;
  color: #0080e0;
  text-decoration: underline;
}

.navbar {
  opacity: 1;
  background-color: #e8f5ff;
  border-bottom: 1px solid #0080e0;
  box-sizing: content-box;
}

.navbar-default .navbar-nav>li>a {
  color: #0066b3;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
  color: #0066b3;
}

.site-header {
  height: 51px;
}

.navbar-nav>li>.dropdown-menu {
  border-radius: 4px;
}

